@font-face {
  font-family: "GeneralSans-Medium";
  src: url(./fonts/GeneralSans-Medium.otf) format("opentype");
}
@font-face {
  font-family: "GeneralSans-Regular";
  src: url(./fonts/GeneralSans-Regular.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: "GeneralSans-Regular";
  scrollbar-width: none;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
button {
  font-family: "GeneralSans-Regular";
}
#main {
  width: 100vw;
}
#hero {
  width: 100vw;
  height: 90vh;
  background-color: black;
  color: white;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding-inline: 2rem;
  padding-block: 1rem;
  color: white;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  a {
    color: white;
  }

  #hireButton {
    cursor: pointer;
    color: white;
    background: transparent;
    border: 1.5px solid white;
    padding: 2px 20px;
    font-size: 16px;
    border-radius: 100px;
    transition: all 0.3s ease-in;
    z-index: 99999;
  }
}

#heading {
  color: white;
  margin-top: 7.5rem;
  text-transform: uppercase;

  h1 {
    font-size: 9vw;
    margin-left: 40px;
    line-height: 1;
    color: #a3a3a3;
  }
}

.blocktext {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: fit-content;
  margin-left: 120px;
  letter-spacing: 0rem;

  h5 {
    text-align: right;
  }
}
#pakistan {
  margin-top: 0.8rem;
  font-size: 16px;
  letter-spacing: 0.5rem;
}
#availability-text {
  margin-top: 75px;
  color: white;
  text-align: right;
  padding: 35px;

  h5 {
    font-size: 16px;
    text-transform: uppercase;
  }
}

#projects-section {
  font-size: 3rem;
  color: white;
  padding: 1rem;
}

#work-section {
  width: 100vw;
  /* padding-top: 10rem; */
  padding-right: 10vw;
  margin-block: 2rem;
  color: white;

  .work {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-block: 1px solid #505050;
    padding: 3.5vw 0;
    margin-left: 2.7vw;

    h1 {
      text-transform: uppercase;
      font-size: 5rem;
      color: #a3a3a3;
      transition: transform 0.8s ease-in-out;
    }
    img {
      position: absolute;
      opacity: 0;
      z-index: 9;
      height: 130%;
      border-radius: 5px;
    }
  }
}

.projects-btn {
  margin-left: 2.7vw;
  cursor: pointer;
  color: white;
  background: transparent;
  border: 1.5px solid white;
  padding: 7px 20px;
  font-size: 16px;
  border-radius: 100px;
  transition: all 0.3s ease-in;
}
#thumbnails {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#scroll1 {
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: fit-content;
  height: 30%;
  border-block:  1px solid #a4a4a4a4;
  animation: marquee 15s linear infinite;
}

.scroll-content {
  display: flex;
  align-items: center;
}

#scroll1 img {
  height: 30%;
  max-height: 10vh;
  margin-right: 10rem;
  flex-shrink: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
#content-about {
  width: 100vw;
  height: 100vh;
  padding: 2vw 3vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: white;

  img {
    height: 230px;
    border-radius: 50%;
    margin: 0 0 0 20%;
  }

  #about-text {
    width: 27rem;
    text-align: justify;
    font-size: 18px;
    line-height: 1.4;

    p:last-of-type {
      margin-bottom: 25px;
    }

    #about-button {
      border: 1.5px solid white;
      padding: 7px 20px;
      font-size: 16px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;

      transition: all 0.3s ease-in;
    }
  }
}
#subscribe {
  text-transform: uppercase;
  color: white;
  margin: 50px 0 100px 0;
  margin-left: 40px;

  p {
    color: #a3a3a3;
    font-size: 14px;
    font-weight: bold;
  }
  a {
    font-size: 16px;
  }
  h4:hover {
    text-decoration: underline;
  }
}

#footer {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 500;

  .footer-row {
    display: none;
  }

  #footer-left {
    width: 16rem;
    padding: 40px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #footer-right {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 3rem;
    padding: 40px 40px;

    a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
      position: relative;
      padding: 1px 0;
    }

    .footer-link::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: white;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }
    
  }
}

@media (hover: hover){

  #nav #hireButton:hover{
      color: black;
      background: white;
  }
   #work-section .work:hover {
    h1 {
      opacity: 0.3;
      transform: translateX(3rem);
    }
  }

  #footer #footer-right .footer-link:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
    #content-about #about-text #about-button:hover{
       color: black;
        background: white;
    }
    .projects-btn:hover{
      color: black;
      background: white;
    }
}

.text-animation {
  width: fit-content;
  overflow: hidden;

  .text-to-animate {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  #pakistan {
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
  }
}

#availability-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  .availability-text1 {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  .availability-text2 {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}

@media (max-width: 575.98px) {
  #heading {
    h1 {
      font-family: "GeneralSans-Medium";
      font-size: 3rem;
      letter-spacing: 1px;
    }
  }
  .blocktext {
    margin-left: 4rem;
  }
  #hero {
    height: fit-content;
    padding-bottom: 1rem;

    #availability-text {
      margin-top: 8rem;
      h5 {
        font-size: 0.8rem;
        font-family: "GeneralSans-Regular";
      }
    }
  }

  #thumbnails{
    height: 40vh;

    img{
      height: 3rem;
    }
  }
 #scroll1 img{
  margin-right: 7rem;
 }

  #work-section .work {
    padding-block: 2rem;
    height: 15vh;

    h1 {
      font-size: 2.5rem;
    }
    img {
      display: none;
    }
  }

  #content-about {
    margin-top: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: fit-content;

    img {
      width: 80%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #about-text {
      text-align: justify;
      width: 100%;
    }
  }

  #subscribe {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
  }
  #footer {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;

    .footer-row {
      display: flex;
      width: 100%;
      opacity: 0.5;
      margin-inline: 1rem;
      font-family: "GeneralSans-Regular";
    }
    #footer-left {
      width: 100%;
      padding-inline: 1rem;
    }

    #footer-right {
      margin: 0;
      padding-inline: 1rem;
      justify-content: space-around;
      display: flex;
      width: 100%;
    }
  }
}
