*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: General Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}
a{
    text-decoration: none;
}
#main{
    width: 100%;
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
  
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2.1rem 2.1rem;
    color: white;
}
#nav a{
    color: white;
}
#heading{
    color: white;
    margin-top: 40px;
    text-transform: uppercase;
}
#heading h1{
    font-size: 9vw;
    margin-left: 40px;
    line-height: 1;
    color: #A3A3A3;
}
#heading #heading-text2{
    margin-left: 180px;
}
.blocktext{
    width: fit-content;

    h5{
        text-align: right;
    }
}