* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: General Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  overflow: auto;
  scrollbar-width: none;
}
a {
  text-decoration: none;
  color: white;
}
#main {
  width: 100%;
}
#hero {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.1rem 2.1rem;
  color: white;
}
#nav a {
  color: white;
}
#heading {
  color: white;
  margin-top: 40px;
  text-transform: uppercase;
}
#heading h1 {
  font-size: 9vw;
  margin-left: 40px;
  line-height: 1;
  color: #a3a3a3;
}
#heading #heading-text2 {
  margin-left: 180px;
}
.blocktext {
  width: fit-content;

  h5 {
    text-align: right;
  }
}
#pakistan {
  margin-top: 0.8rem;
  font-size: 16px;
}
#availability-text {
  margin-top: 75px;
  color: white;
  text-align: right;
  padding: 35px;

  h5 {
    font-size: 16px;
    text-transform: uppercase;
  }
}
#hero-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;

  a {
    text-transform: uppercase;
    font-weight: bold;
  }

  #icons {
    display: flex;
    gap: 3px;
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a3a3a3;
    color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
#work-section {
  width: 100%;
  padding-top: 10rem;
  padding-right: 10vw;
  color: white;

  .work {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    border-top: 1px solid #505050;
    padding: 3.5vw 0;
    margin-left: 2.7vw;

    h1 {
      text-transform: uppercase;
      font-size: 6.5vw;
      color: #a3a3a3;
    }

    img {
      display: none;
      position: absolute;
      z-index: 999;
      height: 130%;
    }
  }
  .last-work {
    border-bottom: 1px solid #505050;
  }
}
#thumbnails {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  img {
    height: 40%;
    margin-right: 12vw;
  }
  #scroll1 {
    display: flex;
    align-items: center;
    height: 25vh;
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    animation: marquee 35s linear infinite;
    -webkit-animation: marquee 35s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
#content-about {
  width: 100%;
  height: 100vh;
  padding: 2vw 3vw;
  display: flex;
  align-items: center;
  gap: 80px;
  color: white;

  img {
    height: 230px;
    margin: -90px 0 0 31%;
  }

  #about-text {
    width: 27rem;
    text-align: justify;
    font-size: 18px;
    line-height: 1.4;

    p:last-of-type {
      margin-bottom: 25px;
    }

    #about-button {
      border: 1px solid white;
      padding: 7px 20px;
      font-size: 16px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
    }
  }
}
