* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {

  width: 100%;
  height: 100%;
  background-color: black;
  font-family: General Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: white;
}
#mini-circle {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
  position: absolute;
  z-index: 999999;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
  -moz-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
  -ms-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
  -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
}
#main {
    scroll-behavior: smooth;
    scroll-timeline: --page-scroll block;
  width: 100%;
}
#hero {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.1rem 2.1rem;
  color: white;

  a {
    color: white;
  }
}

#heading {
  color: white;
  margin-top: 40px;
  text-transform: uppercase;

  h1 {
    font-size: 9vw;
    margin-left: 40px;
    line-height: 1;
    color: #a3a3a3;
  }
}


.blocktext {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: fit-content;
  margin-left: 120px;

  h5 {
    text-align: right;
  }
}
#pakistan {
  margin-top: 0.8rem;
  font-size: 16px;
}
#availability-text {
  margin-top: 75px;
  color: white;
  text-align: right;
  padding: 35px;

  h5 {
    font-size: 16px;
    text-transform: uppercase;
  }
}
#hero-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;

  a {
    text-transform: uppercase;
    font-weight: bold;
  }

  #icons {
    display: flex;
    gap: 3px;
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a3a3a3;
    color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
#work-section {
  width: 100%;
  padding-top: 10rem;
  padding-right: 10vw;
  color: white;

  .work {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    border-top: 1px solid #505050;
    padding: 3.5vw 0;
    margin-left: 2.7vw;

    h1 {
      text-transform: uppercase;
      font-size: 6.5vw;
      color: #a3a3a3;
    }

    img {
      display: none;
      position: absolute;
      z-index: 999;
      height: 130%;
    }
  }
  .last-work {
    border-bottom: 1px solid #505050;
  }
}
#thumbnails {
  display: flex;
  align-items: center;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;

  img {
    height: 40%;
    margin-right: 12vw;
  }
  #scroll1 {
    display: flex;
    align-items: center;
    height: 25vh;
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    animation: marquee 35s linear infinite;
    -webkit-animation: marquee 35s linear infinite;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
#content-about {
  width: 100%;
  height: 100vh;
  padding: 2vw 3vw;
  display: flex;
  align-items: center;
  gap: 80px;
  color: white;

  img {
    height: 230px;
    margin: -90px 0 0 31%;
  }

  #about-text {
    width: 27rem;
    text-align: justify;
    font-size: 18px;
    line-height: 1.4;

    p:last-of-type {
      margin-bottom: 25px;
    }

    #about-button {
      border: 1px solid white;
      padding: 7px 20px;
      font-size: 16px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
    }
  }
}
#subscribe {
  text-transform: uppercase;
  color: white;
  margin: 50px 0 100px 0;
  margin-left: 40px;

  p {
    color: #a3a3a3;
    font-size: 14px;
    font-weight: bold;
  }
  a {
    font-size: 16px;
  }
}
#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 500;

  #footer-left {
    width: 16rem;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
  }

  #footer-right {
    display: flex;
    gap: 50px;
    padding: 40px 40px;
  }
}

.text-animation {
  width: fit-content;
  overflow: hidden;


  .text-to-animate {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}
  #pakistan{
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
}

  
}

#availability-text{
  display: flex;
  flex-direction: column;
  align-items: end;
  .availability-text1{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
  .availability-text2{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}


}
